@import "tailwindcss";

@theme {
  --color-brand-twitter: #1DA1F2;
  --color-brand-instagram: #E1306C;
  --color-brand-linkedin: #0077B5;
  --color-brand-facebook: #1877F2;
}

body {
  margin: 0;
  background-color: #fcfbf7;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f1015;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
